.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  width: 60%;
  background-color: #282c34;
  color: white;
  margin-left: 22%;
  height: 100px;
}
.h2header {
  float: left;
  margin-left: 15px;
  margin-top: 30px;
}
.h4header {
  float: left;
  gap: 30px;
  display: flex;
  margin-top: 40px;
  margin-left: 70%;
}

a:hover {
  color: blue;
}
.App {
}
a {
  color: white;
  text-decoration: none;
}
* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.page1 {
  background-color: #282c34;
  width: 60%;
  height: 900px;
  margin-left: 22%;
}
.page2 {
  background-color: #282c34;
  width: 60%;
  height: 2000px;
  margin-left: 22%;
}
.page3 {
  background-color: #282c34;
  width: 60%;
  height: 1600px;
  margin-left: 22%;
}
.page4 {
  background-color: #282c34;
  width: 60%;
  height: 900px;
  margin-left: 22%;
}
.nav {
  background-color: #282c34;
  width: 60%;
  height: 400px;
  margin-left: 22%;
}
